* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
*::selection {
  background-color: #b6b000ee;
}
body {
  background: linear-gradient(315deg, #000957, #344CB7);
  color: whitesmoke;
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
img {
  width: 400px;
  height: auto;
}

a {
  color: #FFEB00;
  text-align: center;
  text-shadow: 0cap 1px 5px #939003;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
}

.menu-button {
  justify-self: center;
  width: max-content;
  height: max-content;
}
button a {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  padding: 2px;
  color: #344CB7;
  text-align: center;
  text-shadow: 0cap 1px 5px #939003;
}
button {
  height: max-content;
  width: 35%;
  font-weight: bolder;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  color: #344CB7;
  text-align: center;
  text-shadow: 0cap 1px 5px #055fe592;
  height: 3.5rem;
  background-color: #FFEB00;
  border-radius: 20px;
  border: #FFEB00 1px solid;
}
.menu-button{
  width: 100%;
  display: flex;
  justify-content: center;

}

button:hover {
  box-shadow: 0 0 7px 1px #FFEB00;
}
.home-buttons {
  width: 70%;
  height: auto;
  margin: 5% auto;
  display: flex;
  justify-content: center;
}
.home-buttons>nav{
  display: flex;
  justify-content: center;
  width: 100%;
}
.home-buttons>nav>button{
  margin: 5px;
}

p.aboutus{
  margin: 40px;
}
h1 {
  font-family: "Bitcount", "Tektur", monospace;
  font-weight: 200;
  font-style: normal;
  text-align: center;
  color: #FFEB00;
  text-shadow: 0cap 1px 5px #939003;
  font-style: italic;
  font-size: clamp(5rem, 1vw, 1rem);
}
h2 {
  font-family: "Bitcount", "Tektur", monospace;
  font-weight: 100;
  text-align: center;
  color: #FFEB00;
  text-shadow: 0cap 1px 5px #aca902;
  font-size: clamp(5rem, 1vw, 1rem);
}

ul {
  background-color: blanchedalmond;
  font-family: "Tac One", sans-serif;
  font-weight: 100;
  font-style: light;
}

table#menu {
  margin: 15px auto;
  border: 1px dashed #FFEB00;
  width: 95%;
  border-collapse: collapse;
}
thead {
  border: 1px solid #FFEB00;
}
tr {
  border: 1px dashed #FFEB00;
}
th {
  border: 1px solid #FFEB00;
}
td {
  border: 1px dashed #FFEB00;
  padding-left: 10px;
  font-weight: 500;
  font-size: 120%;
}
td.price {
  text-align: center;
  font-weight: bold;
  justify-content: center;
}
.table-img {
  width: 50px;
  padding: 4px 2px 2px 2px;
}
.table-img:hover {
  transform: scale(110%);
}

.wrapper{
    top: 3rem;
    position: relative;
    width: max-content;
    height: max-content;
    padding: 2%;
    background: linear-gradient(0deg, rgba(255, 177, 60, 0.063), #00000024);
    margin: 5% auto;
    border-radius: 8px;
    
}
.wrapper::before{
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  padding: 2px;
  background: linear-gradient(315deg, #FFEB00 , #344CB7 70%);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  pointer-events: none;
}
form.feedback-form{
  display: flex;
  flex-direction: column;
}
div.input-field{
  padding: 5px;
  width: 100%;
  display: flex;
  text-align: center;
  position: relative;
}
.input-field label{
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: rgba(255, 235, 205, 0.684);
  font-size: 11px;
  pointer-events: none;
  transition: 0.3s ease;
}
.input-field input {
  padding: 3%;
  width: 100%;
  height: 40px;
  background: transparent;
  border: 0.1px solid antiquewhite;
  outline: none;
  font-size: 1rem;
  color: antiquewhite;
}
.input-field input:focus,.input-field textarea:focus{
  outline: none;
  border: 1px solid transparent;
  border-image: linear-gradient(315deg, #FFEB00, #1555eb);
  border-image-slice: 1;
  border-radius: 2px;
  transition: 10s linear;
  transform: scale(103%);
  transition: 0.3s ease-in-out;
}
.input-field input:focus~label,
.input-field input:valid~label,
.input-field textarea:focus~label {
  font-size: 0px;
}
.input-field textarea{
  background-color: #00000000;
  color: antiquewhite;
  border: 0.1px solid antiquewhite;
  padding: 2px;
}
.wrapper form button{

  background-color: #00000000;
  border: 1px solid #FFEB00;
  border-radius: 6px;
  color: #FFEB00;
  width: max-content;
  margin: 10px auto;
  padding: 5px;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.wrapper form button:hover{
  transition: 0.1s linear;
  border: 1px solid #FFEB00;
  color: #FFEB00;
}
.wrapper form button:active{
  transform: scale(110%);
  transition: 0.1s linear;
  border: 1px solid #FFEB00;
  color: #FFEB00;
}

/* BITE-KNIGHTS LOGO */
.animated-logo {
  width: 150px;
  height: 150px;
  margin: 40px auto;
  box-sizing: border-box;

  background-image: url(./media/bite-knights.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;

  animation: float 3s infinite ease-in-out;
}
div.main-nav{
  width: 100vw;
  height: 50px;
  padding: -5px;
  background: #577BC1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
div.main-nav nav{
  width: fit-content;
  height: auto;
}
div.main-nav nav a{
  margin: 5px;
}
footer{
  margin: 15px;
}

.animated-logo-label {
  cursor: pointer;
  display: inline-block;
}

.slide-in {
  animation: slideInUp 1s ease-in-out forwards;
}
/* ANIMATIONS */

@keyframes slideInUp {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translateY(0); /* Start color */
  }
  50% {
    transform: translateY(-20px); /* Move up */ /* Mid-point color */
  }
  100% {
    transform: translateY(0); /* End color */
  }
}

/* FONTS */

.bitcount-bc {
  font-family: "Bitcount", system-ui;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "slnt" 0, "CRSV" 0.5, "ELSH" 0, "ELXP" 0;
}

.tektur-tektur {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
