* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
*::selection{
  background-color: #b6b000ee;
}
body {
  padding: 15px;
  background-color: blanchedalmond;
  justify-content: center;
  align-items: center;
  background: linear-gradient(315deg, #070836, #2b3976);
  color: whitesmoke;
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
img {
  width: 400px;
  height: auto;
}

a {
  color: #eef603;
  text-align: center;
  text-shadow: 0cap 1px 5px #939003;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
}

.menu-button{
  justify-self: center;
  width: max-content;
  height: max-content;
}
button a {
  font-size: 3vw;
  color: #2100f7b7;
  text-align: center;
  text-shadow: 0cap 1px 5px #939003;
}
button {
  height: fit-content;
  width: 30%;
  font-weight: bolder;
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  color: #2100f7b7;
  text-align: center;
  text-shadow: 0cap 1px 5px #939003;
  margin: auto;
  height: 3.5rem;
  background-color: #dde400;
  border-radius: 20px;
  border: #eef603 1px solid;
}
button:hover {
  box-shadow: 0 0 7px 1px #f7fc65;
}
.home-buttons{
  width: 70%;
  height: auto;
  margin: 5% auto;
}

h1 {
  font-family: "Bitcount", "Tektur", monospace;
  font-weight: 200;
  font-style: normal;
  text-align: center;
  color: #eef603;
  font-size: 90px;
  font-style: italic;
  font-size: clamp(4rem, 1vw, 1rem);
}
h2 {
  font-family: "Bitcount", "Tektur", monospace;
  font-weight: 150;
  text-align: center;
  color: #eef603;
  font-size: 90px;
}

ul {
  background-color: blanchedalmond;
  font-family: "Tac One", sans-serif;
  font-weight: 100;
  font-style: light;
}

table#menu {
  border: 1px;
  border: solid dashed #eef603;
  width: 100%;
  border-collapse: collapse;
}
thead {
  border: 1px solid #eef603;
}
tr {
  border: 1px dashed #eef603;
}
th {
  border: 1px solid #eef603;
}
td {
  border: 1px dashed #eef603;
  padding-left: 10px;
  font-weight: 500;
  font-size: 120%;
}
td.price {
  text-align: center;
  font-weight: bold;
}
.table-img {
  width: 50px;
  padding: 4px 2px 2px 2px;
}
.table-img:hover{
  transform: scale(110%);
}

.animated-shape {
  width: 150px;
  height: 150px;
  margin: 40px auto;
  box-sizing: border-box;

  background-image: url(./media/bite-knights.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;

  animation-name: float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.animated-shape-label {
  cursor: pointer; /* Changes the mouse to a pointer on hover */
  display: inline-block; /* Ensures it behaves correctly */
}

/* ANIMATIONS */

@keyframes float {
  0% {
    transform: translateY(0); /* Start color */
  }
  50% {
    transform: translateY(-20px); /* Move up */ /* Mid-point color */
  }
  100% {
    transform: translateY(0); /* End color */
  }
}

/* FONTS */

.bitcount-bc {
  font-family: "Bitcount", system-ui;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "slnt" 0, "CRSV" 0.5, "ELSH" 0, "ELXP" 0;
}

.tektur-tektur {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
